# htm/.envrc

export RR=`pwd`

export HTM_SERVICE_NAME=$TIGER_SERVICE_NAME
export HTM_DBURL=$TIGER_DBURL
export HTM_DBNAME=$TIGER_DBNAME
export HTM_DBUSER=$TIGER_DBUSER
export HTM_DBPASS=$TIGER_DBPASS
export HTM_DBHOST=$TIGER_DBHOST
export HTM_DBPORT=$TIGER_DBPORT
